#navbar {
  background-color: white;
  color: black;
  text-align: center;
  font-size: large;
  padding: 10px;
  margin-bottom: 20px;
}

body {
  background-color: whitesmoke;
}

#sidebar {
  float: right;
  width: 30%;
}

#video {
  float: left;
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
}

#video-title {
  text-align: left;
}

#description {
  margin-left: 2%;
}

@media only screen and (max-width: 1450px) {
  #sidebar {
    float: none;
    margin-top: 50px;
    padding-left: 10%;
  }
  #video {
    float: none;
  }
}
